{% extends 'youtube/base.html' %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'youtube:channels-list' %}">Каналы</a></li>
                <li class="breadcrumb-item active" aria-current="page">Добавление канала</li>
            </ol>
        </nav>


        <div class="card">
            <div class="card-header">
                <h5>Добавление канала</h5>
            </div>
            <div class="card-body">
                <form method="post" class="d-flex">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="text-danger">
                            {{ form.non_field_errors }}Text
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="flex-grow-1">
                            <div class="form-floating">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {% if field.help_text %}
                                    <div class="text-secondary">
                                        {{ field.help_text|safe }}
                                    </div>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="pt-1 ms-2">
                        <button class="btn btn-lg btn-success">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}