{% extends 'youtube/base.html' %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "youtube:channels-list" %}">Каналы</a></li>
                <li class="breadcrumb-item">{{ channel.title }}</li>
                <li class="breadcrumb-item active" aria-current="page">Видео</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        {% for video in video_list %}
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{ video.thumbnail_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ video.title }}
                        </h5>
                        <p class="card-text">
                            {{ video.title }}
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}