{% extends 'youtube/base.html' %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "youtube:channels-list" %}">Каналы</a></li>
                <li class="breadcrumb-item">{{ channel.title }}</li>
                <li class="breadcrumb-item active" aria-current="page">Видео</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        {% for video in video_list %}
            <div class="col-6">
                <div class="card mb-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="{{ video.thumbnail_url }}" alt="" height="100">
                            </div>
                            <div class="col">
                                <div class="card-text">{{ video.title }}</div>
                                <div>Дата публикации: {{ video.publish_date }}</div>
                                <a href="#" class="btn btn-primary">Просмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}