{% extends 'youtube/base.html' %}
{% load youtube_template_tags %}

{% block css %}
    .viewed-video {background-color: #bebebe;}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "youtube:channels-list" %}">Каналы</a></li>
                <li class="breadcrumb-item">{{ channel.title }}</li>
                {% if current_playlist %}
                    <li class="breadcrumb-item active" aria-current="page">{{ current_playlist.title }}</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">Все видео</li>
                {% endif %}
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card card-body mb-2">
                <div class="d-flex mb-2">
                    <div class="flex-grow-1">
                        <form action="{% url 'youtube:update-channel-data' channel.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">
                                Обновить данные
                            </button>
                        </form>
                    </div>
                    <div class="text-secondary">
                        Дата последнего обновления: {{ channel.last_update|default_if_none:"-" }}
                    </div>
                </div>
                <table class="table table-sm">
                    <tbody>
                    <tr>
                        <td>Длительность всех видео</td>
                        <td class="text-end">{{ duration.all }}</td>
                    </tr>
                    <tr>
                        <td>Просмотрено</td>
                        <td class="text-end">{{ duration.viewed }}</td>
                    </tr>
                    <tr>
                        <td>Осталось просмотреть</td>
                        <td class="text-end">{{ duration.not_viewed }}</td>
                    </tr>
                    <tr>
                        <td>Прогресс просмотра</td>
                        <td class="text-end">{{ duration.progress|stringformat:".1f" }}%</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div class="progress"
                         role="progressbar"
                         aria-label="Progress"
                         aria-valuenow="{{ duration.progress|stringformat:".1f" }}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                    >
                        <div class="progress-bar bg-success" style="width: {{ duration.progress|stringformat:".1f" }}%"></div>
                    </div>
                </div>
            </div>
            {% include_playlists %}
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                {% if not video_list %}
                    <div class="text-center">
                        Нет видео
                    </div>
                {% endif %}
                {% for video in video_list %}
                    <div class="col-12">
                        <div class="card mb-1 {% if video.viewed.count %}viewed-video{% endif %}" id="{{ video.id }}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="{{ video.thumbnail_url }}" alt="" height="100">
                                    </div>
                                    <div class="col">
                                        <div class="d-flex">
                                            <div class="flex-grow-1">
                                                <h5>
                                                    {{ video.title }}
                                                </h5>
                                            </div>
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-primary dropdown-toggle my-1"
                                                   href="#"
                                                   role="button"
                                                   data-bs-toggle="dropdown"
                                                   aria-expanded="false"
                                                >
                                                    Меню
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item" href="{{ video.url }}" target="_blank">
                                                            Открыть в YouTube
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item"
                                                                onclick="handleToggleVideoViewed('{{ video.toggle_viewed_url }}', '{{ video.id }}')"
                                                        >
                                                            Пометить просмотренным / не просмотренным
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <small class="text-body-secondary">
                                                Дата публикации: {{ video.publish_date }}
                                            </small>
                                        </div>
                                        <div>
                                            <small class="text-body-secondary">
                                                Продолжительность: {{ video.duration_display }}
                                            </small>
                                        </div>
                                        {% if video.playlist %}
                                            <div>
                                                <small class="text-body-secondary">
                                                    Плейлист: {{ video.playlist }}
                                                </small>
                                            </div>
                                        {% endif %}
                                        <div>
                                            <a href="#" data-bs-toggle="collapse"
                                               data-bs-target="#video_description_{{ video.id }}"
                                               aria-expanded="false"
                                               aria-controls="collapseExample"
                                            >
                                                Раскрыть описание
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="video_description_{{ video.id }}">
                                    <div class="card card-body">
                                        {{ video.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        const csrf_token = "{{ csrf_token }}"
        const formData = new FormData()
        formData.append("csrfmiddlewaretoken", csrf_token)

        function handleToggleVideoViewed(toggleViewedUrl, videoId) {
            fetch(toggleViewedUrl, {method: "POST", credentials: "same-origin", body: formData})
            document.getElementById(videoId).classList.toggle("viewed-video")
        }
    </script>
{% endblock %}