{% extends 'youtube/base.html' %}
{% load youtube_template_tags %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Каналы</li>
            </ol>
        </nav>

        {% for channel in object_list %}
            <div class="card mb-2">
                <div class="card-header">
                    <h5>{{ channel.title }}</h5>
                </div>
                <div class="card-body d-flex">
                    <div class="me-3">
                        {% if channel.thumbnail_url %}
                            <img class="rounded-circle"
                                 src="{{ channel.thumbnail_url }}"
                                 alt="Превью канала" height="80"
                            />
                        {% endif %}
                    </div>
                    <div class="flex-grow-1">
                        <div>
                            Количество видео: {{ channel.videos_count }}
                        </div>
                        <div>
                            Продолжительность видео:
                            {% if channel.videos_duration_sum %}
                                {{ channel.videos_duration_sum|duration }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" href="{{ channel.get_absolute_url }}">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="float-end">
            <a href="{% url 'youtube:channel-add' %}" class="btn btn-primary">
                <i class="bi bi-plus"></i> Добавить канал
            </a>
        </div>
    </div>
{% endblock %}