<div class="list-group mb-2">
    <a href="{% url 'youtube:videos-list' channel.pk %}"
       class="list-group-item list-group-item-action {% if not current_playlist %}active{% endif %}"
    >
        <div class="d-flex">
            <div class="flex-grow-1">
                Все видео
            </div>
            <div>
                <span class="badge rounded-pill text-bg-info">
                    {{ all_videos_count }}
                </span>
            </div>
        </div>
    </a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex">
            <div class="flex-grow-1">
                Без плейлиста
            </div>
            <div>
                <span class="badge rounded-pill text-bg-info">
                    {{ without_playlist_videos_count }}
                </span>
            </div>
        </div>
    </a>
    {% for playlist in playlists %}
        <a href="{{ playlist.get_absolute_url }}"
           class="list-group-item list-group-item-action {% if playlist == current_playlist %}active{% endif %}"
        >
            <div class="d-flex">
                <div class="flex-grow-1">
                    <span class="text-secondary">
                        {{ forloop.counter }}.
                    </span>
                    {{ playlist.title }}
                </div>
                <div>
                    <span class="badge rounded-pill text-bg-info">
                        {{ playlist.videos_count }}
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>