<div class="list-group">
    {% for playlist in playlists %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <span class="text-secondary">
                        {{ forloop.counter }}.
                    </span>
                    {{ playlist.title }}
                </div>
                <div>
                    <span class="badge rounded-pill text-bg-info">
                        {{ playlist.videos_count }}
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>