<div class="uk-card uk-card-default uk-margin">
    <div class="uk-card-header">
        <div uk-grid>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Категории</h3>
            </div>
            <div class="uk-width-auto">
                <a uk-icon="more-vertical"></a>
                <div uk-dropdown="mode: click; pos: bottom-right; duration: 100">
                    <ul class="uk-nav uk-dropdown-nav uk-iconnav uk-iconnav-vertical">
                        <li>
                            <a href="{% url 'blog:category_list' %}">
                                <span uk-icon="list" class="uk-margin-small-right"></span>
                                Дерево категорий
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'blog:post_add' %}">
                                <span uk-icon="plus" class="uk-margin-small-right"></span>
                                Создать пост
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'blog:category_add' %}">
                                <span uk-icon="plus" class="uk-margin-small-right"></span>
                                Создать категорию
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <ul class="uk-nav-default" uk-nav>
            <li>
                <a href="{% url 'blog:post_list' %}">
                    <span class="uk-margin-small-right" uk-icon="icon: folder"></span>
                    Все посты
                </a>
            </li>
            {% for category in categories %}
                <li>
                    <a href="{{ category.get_absolute_url }}">
                        <span class="uk-margin-small-right" uk-icon="icon: folder"></span>
                        {{ category }}
                        <span class="uk-badge uk-text-secondary uk-background-muted">
                            {{ category.post_set.count }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

