{% extends 'base.html' %}

{% block breadcrumb %}
    <li><a href="{% url 'blog:post_list' %}">Все посты</a></li>
    <li><span>Редактирование категории</span></li>
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                        {% block card_title %}Редактирование категории{% endblock %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <form method="post" class="uk-form-horizontal">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="uk-text-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% include 'blog/form_field.html' with field=form.title %}

                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}