{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li><a href="{% url 'blog:post_list' %}">Все посты</a></li>
    <li><span>Дерево категорий</span></li>
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-width-2-3@m">
        <div class="uk-card-header">
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                    Список категорий
                </h3>
            </div>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-primary">
                {% for category in category_list %}
                    <li>
                        <span uk-icon="icon: folder"></span>
                        <a class="uk-link-heading" href="{{ category.get_absolute_url }}">
                            {{category}}
                        </a>
                        <table class="uk-table uk-table-divider uk-table-small uk-table-hover uk-margin-left">
                            {% for post in category.post_set.all %}
                                {% if request.user.is_superuser or not post.draft  %}
                                    <tr>
                                        <td>
                                            <span uk-icon="icon: file-text"></span>
                                            <a class="uk-link-heading" href="{{ post.get_absolute_url }}">
                                                {{post}}
                                            </a>
                                        </td>
                                        <td align="right">{{post.create_date | date:"Y-m-d H:i"}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="uk-card-footer">
        </div>
    </div>
{% endblock %}